/* stylelint-disable order/properties-order */
.shiki,
.shiki span {
}

@media (prefers-color-scheme: dark) {
  .shiki,
  .shiki span {
    color: var(--shiki-dark) !important;
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }
}

[data-theme='dark'] .shiki,
[data-theme='dark'] .shiki span {
  color: var(--shiki-dark) !important;
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}

.so-demo-doc {
  padding: 64px 64px 32px;
  pre,
  .table-container {
    &::-webkit-scrollbar {
      height: 8px;
    }

    &::-webkit-scrollbar-thumb {
      border: none;
    }
  }

  p {
    margin-top: 1em;
    margin-bottom: 0.5em;
    line-height: 1.75em;
  }

  strong {
    font-weight: 500;
  }

  code {
    padding: 0.2em 0.35em;
    font-size: 0.85rem;
    font-family: 'IBM Plex Mono', Consolas, 'Andale Mono WT', 'Andale Mono',
      'Lucida Console', 'Lucida Sans Typewriter', 'DejaVu Sans Mono',
      'Bitstream Vera Sans Mono', 'Liberation Mono', 'Nimbus Mono L', Monaco,
      'Courier New', Courier, monospace;
    border-radius: 3px;
  }

  pre {
    overflow-x: auto;
    border-radius: 8px;

    code {
      display: block;
      padding: 16px 20px;
      background-color: #eff2f5;
      box-sizing: content-box;
    }
  }

  li:not(.so-anchor-item) {
    padding-left: 0;
    list-style-type: decimal;
    line-height: 1.6;
  }

  p > code {
    margin: 0 1px;
    padding: 3px 6px;
    border-radius: 4px;
    color: #1e2025;
    background: #f8f8f8;
  }

  .table-container {
    overflow-x: auto;
    margin: 20px 0 40px 0;
    border: 1px solid #eee;
    border-radius: 10px;
  }

  table {
    width: 100%;
    min-width: 800px;
    border-spacing: 0;
    border-collapse: collapse;
    overflow-x: auto;
    margin: 20px 0 40px 0;
    border: 1px solid #eee;
    border-radius: 10px !important;
    &:last-child {
      margin-bottom: unset;
    }

    tr:hover {
    }

    td:nth-child(3) {
      color: #4fc08d;
    }

    th {
      padding-left: 15px;
      font-size: 14px;
      font-weight: 600;
      text-align: left;
      background-color: #f8f8f8;
      line-height: 44px;
    }

    td {
      padding: 10px 15px;
      max-width: 240px;
      border-top: 1px solid #eee;
      text-align: left;
      // transition: border $animats;
    }

    .light {
      // color: $scolor;
    }

    .so-doc-link {
      // color: $lcolor;
    }
  }
  blockquote {
    margin-left: 0;
  }
  .so-pure-doc {
    margin: 12px 0px 8px;
  }
}

.so-icon-list {
  display: flex;
  overflow: hidden;
  max-width: 1200px;
  *zoom: 1;
  flex-wrap: wrap;
  padding-inline-start: 0px;

  .so-icon-container {
    padding: 16px;
    width: 160px;
    text-align: center;
    list-style: none !important;
    cursor: pointer;

    svg {
      display: block;
      margin: 0 auto 10px;
      height: 64px;
      font-size: 32px;
      transition: font-size 0.1s linear, width 0.1s linear;
      line-height: 64px;
    }

    svg:hover {
      font-size: 42px;
    }
  }

  .so-icon-name {
    // color: $font-color-m;
  }
}
